{{ '{{ with secret "kv/data/seo-agent" }}' }}
SEO_AGENT_ENVIRONMENT=production
SEO_AGENT_HOST={{ seo_agent_host }}
SEO_AGENT_PORT={{ seo_agent_port }}
SEO_AGENT_DATA_DIR=/var/lib/seo-agent
SEO_AGENT_SCHEDULER_ENABLED={{ seo_agent_scheduler_enabled | bool | ternary('true', 'false') }}

BEACON_CONTROL_PLANE_URL={{ seo_agent_beacon_control_plane_url }}
BEACON_WORKER_TOKEN={{ '{{ .Data.data.beacon_worker_token }}' }}
BEACON_MANAGED_MODE={{ seo_agent_beacon_managed_mode | bool | ternary('true', 'false') }}
BEACON_POLL_INTERVAL_S={{ seo_agent_beacon_poll_interval_s }}
BEACON_EXECUTE_AUTOMATIC_ACTIONS={{ seo_agent_execute_automatic_actions | bool | ternary('true', 'false') }}

SEO_AGENT_SITE_BASE_URL={{ seo_agent_site_base_url }}
SEO_AGENT_X402_BASE_URL={{ seo_agent_x402_base_url }}
SEO_AGENT_SKILLS_REPOSITORY_URL={{ seo_agent_skills_repository_url }}
SEO_AGENT_MCP_SERVER_URL={{ seo_agent_mcp_server_url }}
SEO_AGENT_INDEXNOW_KEY={{ '{{ or .Data.data.indexnow_key "" }}' }}
SEO_AGENT_OPENROUTER_API_KEY={{ '{{ or .Data.data.openrouter_api_key "" }}' }}
SEO_AGENT_PSI_API_KEY={{ '{{ or .Data.data.psi_api_key "" }}' }}
SEO_AGENT_UMAMI_BASE_URL={{ seo_agent_umami_base_url }}
SEO_AGENT_UMAMI_API_TOKEN={{ '{{ or .Data.data.umami_api_token "" }}' }}
SEO_AGENT_UMAMI_WEBSITE_ID={{ '{{ or .Data.data.umami_website_id "" }}' }}
SEO_AGENT_DISCORD_WEBHOOK_URL={{ '{{ or .Data.data.discord_webhook_url "" }}' }}
{{ '{{ end }}' }}
