# {{ vault_agent_config_dir }}/{{ vault_agent_name }}.hcl
# Managed by ansible/roles/vault_agent.

pid_file = "{{ vault_agent_run_dir }}/{{ vault_agent_name }}.pid"

vault {
  address = "{{ vault_agent_vault_addr }}"
{% if vault_agent_vault_tls_skip_verify | bool %}
  tls_skip_verify = true
{% endif %}

  retry {
    num_retries = 12
  }
}

auto_auth {
  method "approle" {
    mount_path = "auth/approle"

    config = {
      role_id_file_path = "{{ vault_agent_role_id_file }}"
      secret_id_file_path = "{{ vault_agent_secret_id_file }}"
{% if vault_agent_secret_id_response_wrapping_path | length > 0 %}
      secret_id_response_wrapping_path = "{{ vault_agent_secret_id_response_wrapping_path }}"
      remove_secret_id_file_after_reading = true
{% else %}
      remove_secret_id_file_after_reading = false
{% endif %}
    }
  }

  sink "file" {
    config = {
      path = "{{ vault_agent_token_sink }}"
      mode = {{ vault_agent_token_sink_mode }}
    }
  }
}

{% for t in vault_agent_templates %}
template {
  source      = "{{ vault_agent_template_dir }}/{{ t.name }}"
  destination = "{{ t.destination }}"
{% set destination_mode = t.mode | default('0640') %}
  perms       = {{ destination_mode }}
{% set render_command = "/bin/sh -c 'chgrp " ~ t.group ~ " " ~ t.destination ~ " && chmod " ~ destination_mode ~ " " ~ t.destination ~ " && " ~ t.reload_command ~ "'" %}
  command     = {{ render_command | to_json }}

  wait {
    min = "2s"
    max = "10s"
  }
}
{% if not loop.last %}

{% endif %}
{% endfor %}
