EXTMON_BGP_ASN={{ extmon_bgp_asn }}
EXTMON_BGP_PREFIXES='{{ extmon_bgp_prefixes | to_json }}'
EXTMON_BGP_AGENT_LISTEN={{ extmon_bgp_agent_listen }}
EXTMON_BGP_CLOUDFLARE_API_TOKEN={{ extmon_bgp_cloudflare_api_token | default('') }}
EXTMON_BGP_BGPTOOLS_USER_AGENT={{ extmon_bgp_bgp_tools_user_agent | default('AS215932-bgp-observer/1.0 (noc@as215932.net; +https://as215932.net)') }}
EXTMON_BGP_HYRULE_INGEST_URL={{ extmon_bgp_hyrule_ingest_url | default('') }}
EXTMON_BGP_INGEST_TOKEN={{ extmon_bgp_ingest_token | default('') }}
EXTMON_ROUTINATOR_URL=http://127.0.0.1:8323
