# /etc/systemd/network/10-enX2.network — infra (overlay VRF)
# RFC1918 IPv4 for DNAT targets (dns, proxy) — avoids NAT46 complexity.
[Match]
Name=enX2

[Network]
VRF=overlay
LinkLocalAddressing=ipv6
IPv6AcceptRA=false
KeepConfiguration=static

[Address]
Address=2a0c:b641:b50:2::1/64

[Address]
Address=10.0.2.1/24
