#cloud-config
hostname: {{ hostname }}
fqdn: {{ fqdn }}
manage_etc_hosts: true

users:
  - name: svag
    groups: wheel
    shell: /bin/ksh
    ssh_authorized_keys:
      - {{ ssh_pubkey }}
  - name: root
    ssh_authorized_keys:
      - {{ ssh_pubkey }}

ssh_pwauth: false
disable_root: false

write_files:
  - path: /etc/doas.conf
    owner: root:wheel
    permissions: "0640"
    content: |
      permit nopass keepenv :wheel
  - path: /etc/hostname.{{ infra_if_name | default('xnf0') }}
    owner: root:wheel
    permissions: "0644"
    content: |
      inet6 {{ ipv6_address }}
      !route -n add -inet6 default {{ ipv6_gateway }}
{% if mail_ipv4 is defined and mail_ipv4 %}
  - path: /etc/hostname.{{ mail_ipv4_if_name | default('xnf1') }}
    owner: root:wheel
    permissions: "0644"
    content: |
      inet {{ mail_ipv4 }} 255.255.255.255
      !route -n add -inet {{ mail_ipv4_gw }} -cloning -link -iface $if
      !route -n add -inet default {{ mail_ipv4_gw }}
{% endif %}
  - path: /etc/resolv.conf
    owner: root:wheel
    permissions: "0644"
    content: |
      search as215932.net
      nameserver {{ dns_server }}

runcmd:
  - rcctl enable sshd
  - sh /etc/netstart
  - pkg_add -I python3
  - rcctl restart sshd
