HYRULE_DNS_CONTROL_SECRET={{ knot_dns_control_secret }}
HYRULE_DNS_CONTROL_HOST={{ knot_dns_control_host }}
HYRULE_DNS_CONTROL_PORT={{ knot_dns_control_port }}
HYRULE_DNS_KNOT_CONFIG={{ knot_conf_path }}
HYRULE_DNS_STATE_FILE={{ knot_dns_control_state_dir }}/state.json
HYRULE_DNS_GENERATED_CONFIG={{ knot_customer_zones_config }}
HYRULE_DNS_ZONES_DIR={{ knot_customer_zones_dir }}
