HYRULE_IP_CHECK_DNS_OBSERVER_SECRET={{ knot_ip_check_observer_secret }}
HYRULE_IP_CHECK_DNS_OBSERVER_API_URL={{ knot_ip_check_observer_api_url }}
HYRULE_IP_CHECK_DNS_OBSERVER_ZONE={{ knot_ip_check_observer_zone }}
HYRULE_IP_CHECK_DNSTAP_SOCKET={{ knot_ip_check_observer_socket }}
HYRULE_IP_CHECK_DNSTAP_CLI={{ knot_ip_check_observer_cli }}
