{"using":["urn:ietf:params:jmap:core","urn:stalwart:jmap"],"methodCalls":[["x:Bootstrap/set",{"update":{"singleton":{"serverHostname":"{{ agent_mail_hostname }}","defaultDomain":"{{ agent_mail_default_domain }}","requestTlsCertificate":true,"generateDkimKeys":true,"dataStore":{"@type":"RocksDb","path":"/var/lib/stalwart/"},"blobStore":{"@type":"Default"},"searchStore":{"@type":"Default"},"inMemoryStore":{"@type":"Default"},"directory":{"@type":"Internal"},"tracer":{"@type":"Stdout","ansi":false,"multiline":false,"buffered":true,"enable":true,"level":"info","lossy":false,"events":[],"eventsPolicy":"exclude"},"dnsServer":{"@type":"Tsig","host":"{{ peers.dns.ipv6 }}","port":53,"keyName":"hyrule-dns","key":{"@type":"EnvironmentVariable","variableName":"STALWART_DNS_TSIG_SECRET"},"protocol":"tcp","tsigAlgorithm":"hmac-sha256","description":"Hyrule Knot RFC2136","timeout":"30s","ttl":"5m","pollingInterval":"15s","propagationTimeout":"2m"}}}},"bootstrap"]]}
