#!/bin/sh

# PROVIDE: softflowd_{{ item.name | replace('-', '_') }}
# REQUIRE: NETWORKING
# KEYWORD: shutdown

. /etc/rc.subr

name="softflowd_{{ item.name | replace('-', '_') }}"
rcvar="${name}_enable"
pidfile="/var/run/${name}.pid"
ctlfile="/var/run/${name}.ctl"
command="/usr/sbin/daemon"
softflowd_binary="{{ flow_exporter_freebsd_binary }}"
softflowd_args="-d{% if flow_exporter_non_promisc | bool %} -N{% endif %} -i {{ item.ifindex ~ ':' if item.ifindex is defined else '' }}{{ item.interface }} -n [{{ flow_exporter_collector_address }}]:{{ flow_exporter_port }} -v {{ flow_exporter_version }} -s {{ flow_exporter_sampling_rate }} -m {{ flow_exporter_max_flows }} -T {{ flow_exporter_track_level }}{% set exporter_ip = peers[inventory_hostname].loopback | default(peers[inventory_hostname].ipv6 | default('')) %}{% if exporter_ip %} -e {{ exporter_ip }}{% endif %}{% if flow_exporter_bpf_filter | length > 0 %} {{ flow_exporter_bpf_filter }}{% endif %}"
command_args="-f -p ${pidfile} ${softflowd_binary} ${softflowd_args} -c ${ctlfile}"
stop_cmd="${name}_stop"

load_rc_config "$name"
: ${softflowd_{{ item.name | replace('-', '_') }}_enable:="NO"}

softflowd_{{ item.name | replace('-', '_') }}_stop()
{
    if [ -S "${ctlfile}" ]; then
        /usr/local/bin/softflowctl -c "${ctlfile}" exit >/dev/null 2>&1 || true
    fi
    if [ -f "${pidfile}" ]; then
        kill "$(cat "${pidfile}")" >/dev/null 2>&1 || true
        rm -f "${pidfile}"
    fi
}

run_rc_command "$1"
