HYRULE_MCP_BGP_SNAPSHOT_DIR={{ hyrule_mcp_bgp_snapshot_dir }}
HYRULE_BGP_INGEST_URL={{ hyrule_mcp_bgp_snapshot_ingest_url }}
HYRULE_BGP_INGEST_TOKEN={{ hyrule_mcp_bgp_snapshot_ingest_token | default('') }}
