[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
host_key_checking = True
forks = 10
stdout_callback = default
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent
# Uncomment once vault is in use:
# vault_password_file = ~/.ansible-vault-password

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -i ~/.ssh/id_servify -o IdentitiesOnly=yes
pipelining = True
